{% extends "index.html" %}
{% block content %}
   <p style="margin-top: 30px;margin-left: 120px; font-size: 20px"><b>Reducere</b>: {{ user.reducere }}% din valoarea totală a coșului</p>
   <p style="margin-top: 30px;margin-left: 145px; font-size: 20px"><b> Data de expirare</b>: {{ user.data_expirare }}</p>
   <p style="margin-top: 30px;margin-left: 175px; font-size: 35px">Vă mulțumim că ați ales să vă abonați la noi!</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}