{% extends "primaPagina.html" %}
<style>
    .bg {
  /* The image used */
  background-image: url('/media/images/background_image.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<body class="bg">

{% block content %}

  <p style="margin-left: 130px; margin-top: 30px; font-size: 18px;">Salut! Dacă dorești să te înscrii în programul cantinei și faci parte din UTCN, fie dacă înveți sau ești învățat, te invit să îți creezi cont la secțiunea <i><b>Înregistrare.</b></i></p>
    <p style="margin-left: 150px; margin-top: 30px; font-size: 18px;"> <b>Notă!</b> Este recomandată folosirea unei adrese de email <b>Gmail!</b></p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


{% endblock %}
 </body>