{% extends 'primaPagina.html' %}


{% block content %}

	{% load crispy_forms_tags %}

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Resetarea Parolei</h2>
		<hr>
		<p>V-ați uitat parola? Completează cu email-ul mai jos și veți primi un link pentru a o reseta.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}
            <br>
            <button class="btn btn-primary" type="submit">Trimite mesaj</button>
            <br><br><br><br>
        </form>
  	</div>

{% endblock %}