{% extends 'primaPagina.html' %}


{% block content %}
{% include 'alerts.html' %}
	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Cerere pentru resetarea parolei trimisă</h2>
		<hr>
		<p>V-am trimis un email pentru resetarea parolei, dacă există adresa de email înscrisă anterior, ar trebui să primiți mesajul într-un timp foarte scurt.<br>Dacă nu primiți un email, să verificați adresa introdusă de două ori sau să verificați în SPAM</p>
  </div>
<br><br><br><br><br><br><br>
{% endblock %}